.App {
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.mySwiper {
    min-height: 100vh;
}

.challenge {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}